<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alerta: Ubicación Incorrecta Reportada</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f0f8ff;
            color: #333;
            margin: 0;
            padding: 0;
        }
        .container {
            width: 100%;
            max-width: 600px;
            margin: 0 auto;
            padding: 20px;
            background-color: #ffffff;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }
        h1 {
            color: #007BFF;
            font-size: 24px;
            text-align: center;
        }
        .content {
            font-size: 16px;
            line-height: 1.5;
            color: #333;
        }
        .content strong {
            color: #007BFF;
        }
        .card {
            padding: 20px;
            background-color: #ffffff;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            margin-top: 20px;
        }
        .button {
            display: inline-block;
            background-color: #0056b3;
            color: #ffffff;
            padding: 15px 30px;
            text-decoration: none;
            font-weight: bold;
            border-radius: 5px;
            text-align: center;
            margin-top: 20px;
            font-size: 16px;
        }
        .button:hover {
            background-color: #007BFF;
        }
        .footer {
            font-size: 14px;
            color: #777;
            text-align: center;
            margin-top: 40px;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>¡Alerta de ubicación falsa!</h1>
        <div class="content">
            <p>Hola,</p>
            <p>Hemos detectado que un usuario ha enviado una ubicación incorrecta. A continuación te proporcionamos los detalles de la ubicación registrada para que puedas verificar y tomar las acciones necesarias.</p>

            <div class="card">
                <p><strong>Detalles de la solicitud:</strong></p>
                <ul>
                    <li><strong>Usuario que reportó la ubicación falsa:</strong> {{userName}}</li>
                    <li><strong>Fecha de visita registrada:</strong> {{visitDate}}</li>
                    <li><strong>Comentario proporcionado:</strong> {{comment}}</li>
                    <li><strong>Latitud:</strong> {{latitude}}</li>
                    <li><strong>Longitud:</strong> {{longitude}}</li>
                </ul>

                <p><strong>¿Te gustaría ver la ubicación en el mapa para verificarla?</strong></p>
                <a href="https://www.google.com/maps?q={{latitude}},{{longitude}}" class="button" target="_blank">Ver mapa</a>

                <p>Por favor, revisa la información y toma las acciones adecuadas. Si necesitas más detalles o asistencia, no dudes en ponerte en contacto con nosotros.</p>
            </div>
        </div>

        <div class="footer">

        </div>
    </div>
</body>
</html>
